---
layout: default
title: Papo de Sauna
---

{% assign temp = site.data.episodios[-1].temporada %}
<div class="w50 mauto text-center flex flex-center">
	<h1 class="backshadow">Episódios</h1>
	<a href="/">
        <svg class="ordem icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 12H21M13 8H21M13 16H21M6 7V17M6 17L3 14M6 17L9 14" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </a>
</div>
	<div id="temporada-{{ temp }}">
		<div class="central">
	{% for ep in site.data.episodios %}
		{% if ep.temporada != temp %}
				</div>
			</div>
			{% assign temp = ep.temporada %}
			<div id="temporada-{{ temp }}">
				<div class="central">
		{% endif %}
		<div class="conteudo-{{ ep.temporada }} episodio">
			<img class="fright ep-image" src="{% if ep.img %}{{ ep.img }}{% else %}{{ site.logo}}{% endif %}" alt="{{ ep.nome }}"/>
			<h3>{{ ep.nome }}</h3>
			<p>{{ ep.desc }}</p>
			<div id="div-ep-{{ forloop.index }}" class="detalhes" style="display: none">
				{{ ep.detalhes }}
			</div>
			{% if ep.detalhes %}
				<a onclick="maisDetalhes('{{ forloop.index }}')">
					<span class="mostrar-detalhes" id="mostrar-detalhes-ep-{{ forloop.index }}">Mostrar Detalhes</span>
				</a>
			{% endif %}
            <h4>Escute em:</h4>
			<ul class="lista-episodios">
				<li><a href="{{ ep.url }}" target="_blank">
                    <div class="play-button">
                        <img class="icon-small" src="/images/icons/music-icon.jpg"/>
                        MP3
                    </div>
                </a></li>
				{% if ep.yt-link %}
				    <li><a href="{{ ep.yt-link }}" target="_blank">
                        <div class="play-button">
                            <img class="icon-small" src="/images/icons/youtube-icon.png"/>
                            YouTube
                        </div>
                    </a></li>
				{% endif %}
				{% if ep.spotify %}
                    <li><a href="{{ ep.spotify }}" target="_blank">
                        <div class="play-button">
                            <img class="icon-small" src="/images/icons/spotify-icon.png"/>
                            Spotify
                        </div>
                    </a></li>
				{% endif %}
				{% if ep.deezer %}
					<li><a href="{{ ep.deezer }}" target="_blank">
                        <div class="play-button">
                            <img class="icon-small" src="/images/icons/deezer-icon.png"/>
                            Deezer
                        </div>
                    </a></li>
				{% endif %}
			</ul>
		</div>
	{% endfor %}
		</div>
	</div>
</div>
