---
layout: default
title: Papo de Sauna
---

<div class="central text-center">
	<h1 class="heading">
        Episódios
        <a onClick="trocaOrdem()">
            {% include library-arrow-up-svg.html %}
            {% include library-arrow-down-svg.html %}
        </a>
    </h1>
</div>
{% include back-to-top.html %}
<div class="flex flex-column reversible" id="episode-list">
	{% for temporada in site.data.temporadas reversed %}
    {% assign temp = temporada.nome | remove_first: "temporada-"%}
	<div id="temporada-{{ temp }}" class="temporadas central flex flex-column reversible">
        {% for ep in temporada.episodios reversed%}
		<div class="conteudo-{{ temp }} episodio">
			<img class="fright ep-image" src="{% if ep.img %}{{ ep.img }}{% else %}{{ site.logo}}{% endif %}" alt="{{ ep.nome }}"/>
            {% assign pub_date = ep.pub_date | split: ":00 +" %}
            {% assign pub_date = pub_date[0] | split: ", " %}
            <span class="hint">{{ pub_date[1] }}</span>
			<h3>{{ ep.nome }}</h3>
			<p>{{ ep.desc }}</p>
			<div id="div-ep-{{ forloop.index }}" class="detalhes" style="display: none">
				{{ ep.detalhes }}
			</div>
			{% if ep.detalhes %}
				<a onclick="maisDetalhes('{{ forloop.index }}')">
					<span class="clickable" id="clickable-ep-{{ forloop.index }}">Mostrar Detalhes</span>
				</a>
			{% endif %}
            <h4>Escute em:</h4>
			<ul class="lista-episodios">
                {% include listen-button.html url=ep.url type="mp3" %}
				{% if ep.yt-link %}
                    {% include listen-button.html url=ep.yt-link type="youtube" %}
				{% endif %}
				{% if ep.spotify %}
                    {% include listen-button.html url=ep.spotify type="spotify" %}
				{% endif %}
				{% if ep.deezer %}
                    {% include listen-button.html url=ep.deezer type="deezer" %}
				{% endif %}
			</ul>
		</div>
        {% endfor %}
	</div>
	{% endfor %}
    </div>
</div>
