<div class="flex-column flex-center lista-episodios p10">
{% for ep in site.data.monologos %}
	<div class="flex flex-row flex-center justify-between p10 monologo m25">
        <div class="w50 text-left">
            <h3>{{ ep.nome }}</h3>
        </div>
        <div class="w50 lista-episodios">
            {% include listen-button.html url=ep.url type="mp3" %}
            {% if ep.yt-link %}
                {% include listen-button.html url=ep.yt-link type="youtube" %}
            {% endif %}
            {% if ep.igtv-link %}
                {% include listen-button.html url=ep.igtv-link type="instagram" %}
            {% endif %}
            {% if ep.spotify %}
                {% include listen-button.html url=ep.spotify type="spotify" %}
            {% endif %}
            {% if ep.deezer %}
                {% include listen-button.html url=ep.deezer type="deezer" %}
            {% endif %}
        </div>
	</div>
{% endfor %}
</div>
