{% assign temp = 0 %}
<ul>
	<li><a href="#li-temp-{{ temp }}" id="li-temp-{{ temp }}" onclick="mostrarTemporada('temporada-{{temp}}')"><h3>Temporada {{ temp }}</h3></a></li>
<div id="temporada-{{ temp }}" style="display: none">
	<ul>
{% for ep in site.data.episodios %}
	{% if ep.temporada != temp %}
		{% assign temp = ep.temporada %}
			</ul>
		</div>
		<li><a href="#li-temp-{{ temp }}" id="li-temp-{{ temp }}" onclick="mostrarTemporada('temporada-{{temp}}')"><h3>Temporada {{ temp }}</h3></a></li>
		<div id="temporada-{{ temp }}" style="display: none">
			<ul>
	{% endif %}
	<li> {{ ep.nome }}: <a href="{{ ep.url }}" target="blank">mp3</a>,
		{% if ep.yt-link %}<a href="{{ ep.yt-link }}" target="blank">Youtube</a>,{% endif %} 
		{% if ep.spotify %}<a href="{{ ep.spotify }}" target="blank">Spotify</a>,{% endif %}
		{% if ep.deezer %}<a href="{{ ep.deezer }}" target="blank">Deezer</a>,{% endif %}
	</li>
{% endfor %}
		</div>
</ul>
