<ul>
    {% for temporada in site.data.temporadas %}
    {% assign temp = temporada.nome | remove_first: "temporada-"%}
	<li>
        <a href="#li-temp-{{ temp }}" id="li-temp-{{ temp }}" onclick="mostrarTemporada('temporada-{{temp}}')">
            <h3>Temporada {{ temp }}</h3>
        </a>
        <div id="temporada-{{ temp }}" style="display: none">
            <ul>
                {% for ep in temporada.episodios %}
                <li> {{ ep.nome }}: <a href="{{ ep.url }}" target="_blank">mp3</a>,
                    {% if ep.yt-link %}<a href="{{ ep.yt-link }}" target="_blank">Youtube</a>,{% endif %}
                    {% if ep.spotify %}<a href="{{ ep.spotify }}" target="_blank">Spotify</a>,{% endif %}
                    {% if ep.deezer %}<a href="{{ ep.deezer }}" target="_blank">Deezer</a>,{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
