html {
	min-height: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
}

.current {
	/* temporada 1 */
	color: #02cfd3 !important;
}

/* cor das tags a*/
a {
	color: #df29c9;
}

.bg {
	/* temporada 0 */
	/*background-color: #ffce44;*/

	/* temporada 1 */
	/*background: linear-gradient(0deg, #120028 0%, #4B0082 80%, #800080 100%);*/
	/*color: #f8b5ae;*/

	/* temporada 2 */
	color: #ff8701;
	/* background: linear-gradient(0deg, rgba(255,135,1,1) 0%, rgba(239,255,1,1) 34%, rgba(78,230,50,1) 86%); */

	background-color: #000;
}
.main-color {
	color: #ff8701;
}

.floating-icon {
	width: 2rem;
	height: 2rem;
	background-color: #ffdc00;
	display: block;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 2pt;
	box-shadow: 0px 0px 10px 10px #00b8ff;
}
.banner {
	z-index: -1;
	top: 0;
	min-height: 40vh;
}
.container-img {
	width: 25%;
	max-height: 25%;
	overflow: hidden;
	margin: 2pt;
}
.imagem{
	width: 100%;
	display: table-cell;
}
.square-image {
	width: 8rem;
	height: 8rem;
	object-fit: cover;
}
.masonry {
	-webkit-column-count: 4;
	-moz-column-count:4;
	column-count: 4;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin: 1.5em;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	font-size: .85em;
}
.item {
	display: inline-block;
	padding: 6px;
	margin: 0 0 1.5em;
	width: 100%;
	border-radius: 5px;
	background-color: #ffa6f3;
	-webkit-transition:1s ease all;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 5px 5px 10px 4px #940080;
}
.item img {
	max-width:100%;
}
.thumbnail {
	width: 90%;
}
.logo {
	width: 10%;
	position: absolute;
	top: 15pt;
	left: 15pt;
}
.heading {
	max-width: 1000px;
	color: black;
	background-color: #ecb44d;
    padding: 10pt;
    font-size: 2.5rem;
    transform: skewX(350deg) rotate(355deg);
    box-shadow: 7px 7px 12px 5px #c3976e;
    border: solid #ff7100;
	margin-bottom: -1rem;
	z-index: 1000;
	position: relative;
	text-align: center;
}
.galeria {
	margin: 0 5% auto;
	text-align: center;
	color: black;
	padding: 0 15pt 0 15pt;
}
.monologo{
	box-shadow: 0px 0px 10px 10px #196b87;
	min-height: unset !important;
}
.lista-episodios {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.listen-button {
	width: 4rem;
    background-color: #000;
    padding: 0.2rem;
    border-radius: 10pt;
	border: solid 2pt #fff;
	font-size: 0.8rem;
}
.listen-button a {
	color: #fff !important;
	text-decoration: none;
}
.btn-small{
	line-height: 20px;
}
.play-button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.central {
	margin: 0 25% auto;
	text-align: left;
	color: black;
	padding: 1pt 0;
}
.episodio {
	border-radius: 10pt;
	margin: 15pt 0;
	text-align: justify;
	border: 5pt solid;
}
.episodio > img {
	border-radius: 5pt;
	margin: 0 0 10pt 10pt;
	max-width: 30%;
}
.clickable:hover {
	cursor: pointer;
}
.detalhes {
	text-align: justify;
	padding: 10pt;
	margin-bottom: 10pt;
	background-color: #ffffff2e;
	border-radius: 10pt;
}
.fundo-neutro {
	/* temporada 1 */
	background-color: #ecb44d;
	box-shadow: 0px 0px 20px 20px #ff8100;
}
.shadow-neutro {
	box-shadow: 5px 5px 10px 5px #fff;
}
.sidebar {
	width: 20%;
	position: absolute;
	left: 2%;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.fright {
	float: right;
}
.flex {
	display: flex;
}
.flex-center {
	align-content: center;
	align-items: center;
}
.flex-column {
	flex-direction: column;
	transition: all 0.5s;
}
.flex-column-reverse {
	flex-direction: column-reverse;
	transition: all 0.5s;
}
.flex-row-reverse {
	flex-direction: row-reverse;
	transition: all 0.5s;
}
.flex-row {
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
.justify-around {
	justify-content: space-around;
}
.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.ordem {
	position: relative;
	left: 100%;
}
.geral {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 10%;
}
.temporadas {
	padding: 20pt 0 0 0 ;
}
#temporada-0 {
	box-shadow: 0px 0px 20px 20px #ffd357;
	background-color: #ffd357;
}
#temporada-1 {
	box-shadow: 0px 0px 20px 20px #ad30ff;
	background-color: #ad30ff;
}
#temporada-1 a {
	color: #ff7def;
}
#temporada-2 {
	box-shadow: 0px 0px 20px 20px #e2ff00;
	background-color: #e2ff00;
}
#temporada-3 {
	box-shadow: 0px 0px 20px 20px #00b8ff;
	background-color: #00b8ff;
}
.conteudo-3 {
	/* temporada 3 */
	background-color: #ffa6f3;
	padding: 2%;
	min-height: 200pt;
	border-color: #ff6aeb;
}
.conteudo-3 a {
	color: #501da6;
}
.conteudo-2 {
	/* temporada 2 */
	background-color: #f5b824;
	padding: 2%;
	min-height: 200pt;
	border-color: #db9b00;
}
.conteudo-1 {
	/* temporada 1 */
	background-color: #501da6;
	color: #ddac38;
	/* background-color: #d92487; */
	padding: 2%;
	min-height: 200pt;
	border-color: #a57beb;
}
.conteudo-0 {
	/* temporada 1 */
	background-color: #ffe7a4;
	padding: 2%;
	min-height: 200pt;
	border-color: #fffaeb;
}
.fade-out {
	animation: fadeOut 2s;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.fade-in {
	animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.hidden {
	display: none;
}
.desktop-hidden {
	display: none;
}
.pl-5 {
	padding-left: 5pt;
}
.p5 {
	padding: 5pt;
}
.p10 {
	padding: 10pt;
}
.hint {
    font-size: 0.8rem;
    color: #00000082;
    font-style: italic;
}
#temporada-1 .hint {
    color: #ffffff82;
}
.font10 {
	font-size: 10pt;
}
.font12 {
	font-size: 12pt;
}
.font15 {
	font-size: 15pt;
}
.font20 {
	font-size: 20pt;
}
.font25 {
	font-size: 25pt;
}
.mx25 {
	margin: 0 25pt;
}
.my25 {
	margin: 25pt 0;
}
.my50 {
	margin: 50pt 0;
}
.my100 {
	margin: 100pt 0;
}
.mauto {
	margin: auto;
}
.badge {
	width: 180px;
	height: 60px;
}
.w25 {
	width: 25%;
}
.w30 {
	width: 30%;
}
.w30m {
	max-width: 30%;
}
.w50 {
	width: 50%;
}
.w75 {
	width: 75%;
}
.w100 {
	width: 100%;
}
.h50 {
	height: 50%;
}
.h100 {
	height: 100%;
}
.font20 {
	font-size: 20px;
}
.menuzinho {
	padding-top: 10pt;
	text-align: center;
	background-color: #000;
}
.icon-list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.backshadow {
	background-color: #0000006b;
}
.neutro {
	text-decoration: none;
	/* temporada 1 */
	color: #fc9900;
}
.linha {
	width: 100%;
	display: inline-flex;
}
.icon {
	width: 40px;
	margin: 2pt;
}
.icon-md {
	width: 30px;
}
.icon-small {
	width: 25px;
}
.fundo-secundario {
	background-color: #ffa6f3;
    box-shadow: 0px 0px 20px 20px #fff;
	border-radius: 15pt;
}
.member-container {
	border-bottom: 1px solid #fff;
	margin-bottom: 10pt;
}
.id-card {
	color: black;
	padding: 5pt;
	background-color: #4f6d4e;
	height: 170pt;
	width: 330pt;
	margin: 15pt;
	border: 5px groove;
	border-color: #fff;
	border-radius: 3pt;
    box-shadow: 5px 5px 12px 5px #95faff;
}
.id-content {
	text-align: justify;
	background-image: url(/images/marca-dagua.png);
	background-color: #92b591;
	background-size: contain;
	height: 100%;
    background-blend-mode: soft-light;
}
.id-card-field {
    border-radius: 3pt;
    border: 1px solid;
	position: relative;
    line-height: 0.8rem;
    margin-bottom: 10pt;
	text-align: right;
}
.id-card-label {
    position: absolute;
    top: -8pt;
    left: 10%;
	background-color: #5fb489;
    padding: 0 2pt;
	font-size: 0.8rem;
	font-style: italic;
}
.id-text-field {
	padding: 2pt 5pt;
	margin: 1pt 0;
}
.id-details {
	font-size: 0.8rem;
	height: 60%;
	text-align: justify;
}
.id-card a {
	color: #2e00ff;
}
.id-card img {
	width: 102pt;
	height: 136pt;
	object-fit: cover;
	border-radius: 3pt;
	background-color: #ffffff7a;
	padding: 2pt;
	margin-top: -8pt;
}
.extended-up {
    margin-top: -3rem;
    padding-top: 5rem;
}
/* Responsive */
@media only screen and (max-width: 320px) {
	.masonry {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px){
	.masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media only screen and (min-width: 1201px) {
	.masonry {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media only screen and (max-width: 520px) {
	.id-card {
		transform: scale(0.75);
	}
	.central {
		margin: 0 5% auto;
	}
	.episodio {
		font-size: 12pt;
	}
	.heading {
		font-size: 20pt;
	}
}

@media only screen and (max-width: 808px) {
	.sm-w100 {
		width: 100%;
	}
	.sm-flex-column {
		flex-direction: column;
	}
	.banner {
		min-height: 15vh;
	}
	.episodio > img {
		max-width: 50%;
	}
	.mobile-hidden {
		display: none;
	}
	.desktop-hidden {
		display: block;
	}
	.mtm5 {
		margin-top: -5%;
	}
	.sidebar {
		width: 20%;
		position: absolute;
		left: 3%;
		top: 15%;
	}
	.item {
		height: unset;
	}
	.wallpaper {
		width: 100% !important;
	}
	.container-img {
		width: 100% !important;
	}
	.linha {
		display: block;
	}
	#desc {
		width: unset;
	}
}
