html {
	min-height: 100%;
}
body {
	margin: 0;
}

.current {
	/* temporada 1 */
	color: #02cfd3 !important;
}

/* cor das tags a*/
a {
	/*temporada 1*/
	color: #df29c9;
}

.bg{
	/* temporada 0 */
	/*background-color: #ffce44;*/

	/* temporada 1 */
	/*background: linear-gradient(0deg, #120028 0%, #4B0082 80%, #800080 100%);*/
	/*color: #f8b5ae;*/

	/* temporada 2 */
	color: #ff8701;
	background: linear-gradient(0deg, rgba(255,135,1,1) 0%, rgba(239,255,1,1) 34%, rgba(78,230,50,1) 86%);

}

.banner {
	z-index: -1;
	top: 0;
}
.container-img{
	width: 25%;
	max-height: 25%;
	overflow: hidden;
	margin: 2pt;
}
.imagem{
	width: 100%;
	display: table-cell;
}
.thumbnail{
	width: 90%;
}
.logo{
	width: 10%;
	position: absolute;
	top: 20pt;
	left: 50pt;

}
.galeria{
	margin: 0 5% auto;
	text-align: center;
	color: black;
	padding: 0 15pt 0 15pt;
}
.central{
	margin: 0 25% auto;
	text-align: left;
	color: black;
}
.fundo-neutro{
	/* temporada 1 */
	background-color: #ecb44d;
    box-shadow: 0px 0px 20px 20px #ff8100;
}
.sidebar{
	width: 20%;
	position: absolute;
	left: 2%;
}
.text-center{
	text-align: center;
}
.fright{
	float: right;
}
.ordem{
	position: relative;
	left: 30%;
}
.geral{
	width: 100%;
	height: 100%;
	text-align: center;
}
.bipartido{
	display: inline-flex;
}
#temporada-0 {
	padding: 20pt 0 0 0 ;
}
#temporada-0 > .central{
    box-shadow: 0px 0px 20px 20px #ffd357;
}
#temporada-1 > .central{
    box-shadow: 0px 0px 20px 20px #00f3ff;
}
#temporada-2 > .central{
    box-shadow: 0px 0px 20px 20px #e2ff00;
}
#temporada-3 > .central{
	box-shadow: 0px 0px 20px 20px #00b8ff;
}
.conteudo-3{
	/* temporada 3 */
	background-color: #ffa6f3;
	padding: 2%;
	min-height: 200pt;
}
.conteudo-2{
	/* temporada 2 */
	background-color: #f5b824;
	padding: 2%;
	min-height: 200pt;
}
.conteudo-1{
	/* temporada 1 */
	background-color: #9e9e9e;
	padding: 2%;
	min-height: 200pt;
}
.conteudo-0{
	/* temporada 1 */
	background-color: #ffe7a4;
	padding: 2%;
	min-height: 200pt;
}
.desktop-hidden{
	display: none;
}
.pradireita, .praesquerda{
	text-align: justify;
	padding: 15pt;
}
.praesquerda img{
	float: right;
	max-width: 50%;
	max-height: 100%;
	margin-left: 1%;
}
.pradireita img{
	float: left;
	max-width: 50%;
	max-height: 100%;
	margin-right: 1%;
}
.font10{
	font-size: 10pt;
}
.font15{
	font-size: 15pt;
}
.font20{
	font-size: 20pt;
}
.font25{
	font-size: 25pt;
}
.m25{
	margin: 0 25pt;
}
.mauto{
	margin: auto;
}
.badge{
	width: 180px;
}
.w25{
	width: 25%;
}
.w30m{
	max-width: 30%;
}
.w50{
	width: 50%;
}
.w75{
	width: 75%;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.font20{
	font-size: 20px;
}
.menuzinho{
	padding-top: 10pt;
	text-align: center;
	background-color: #000;
}
.icon-list{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.backshadow{
	background-color: #0000006b;
}
.neutro{
	text-decoration: none;
	/* temporada 1 */
	color: #fc9900;
}
.linha{
	width: 100%;
	display: inline-flex;
}
.icon{
	width: 40px;
	margin: 5pt 0 0 0;
}
/* Responsivo */
@media only screen and (max-width: 808px) {
	.mobile-hidden{
		display: none;
	}
	.desktop-hidden{
		display: block;
	}
	.central{
		margin: unset;
	}
	.mtm5{
		margin-top: -5%;
	}
	.sidebar{
		width: 20%;
		position: absolute;
		left: 3%;
		top: 10%;
	}
	.imagem{
		width: 40%;
		display: block;
	}
	.wallpaper{
		width: 100% !important;
	}
	.container-img{
		width: 100% !important;
	}
	.linha{
		display: block;
	}
	#desc{
		width: unset;
	}
}
